<div class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <p>Matchup</p>
      <p>Lutow Vorbeckstraat 45</p>
      <p>4565 PB Rotterdam</p>
    </div>
    <div class="footer-info">
      <p>Tel&#58; &#43;31&#40;0&#41;101563378</p>
      <p>info&#64;matchup&#46;com</p>
      <p>&copy;2016-2017 matchup&#46;com</p>
    </div>
    <div class="footer-info">
      <p>FAQ</p>
      <p>Careers</p>
      <p>Blog</p>
    </div>

  </div>
</div>
