<h1 class="faq-header">Frequently asked questions</h1>

<div class="faq-body">

  <p class="faq-question">What is this website for?</p>
  <p>Matchup is a handy tool for teachers to pair up students with the single click of a button.</p>
  <br>
  <p class="faq-question">How do I add a student?</p>
  <p>Click on Student on the navigation bar, fill in the name of a student in the text field and click on Create. </p>
  <br>
  <p class="faq-question">How do I pair up my students?</p>
  <p>Click on Matchup on the navigation bar, and click on the Matchup button.</p>
  <br>
  <p class="faq-question">Why are all my matchups gone from the Matchup page?</p>
  <p>The matchups are resetted every time you add or delete a student. Just click on the Matchup button again.</p>


</div>
