<h1>Matches</h1>

<% @matches.each_with_index do |match, index| %>
<!-- <p><%= match.student1 %></p> -->
<% if index % 4 == 0 %>
<h2>Batch</h2>
<% end %>
<p><%= match.student1 %> - <%= match.student2 %></p>
<% end %>

<%= button_to "Generate Matches", matches_path, method: :post %>
