@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #D7CEC7;
  padding-top:58px;
  min-height: 100%;
  margin-bottom: 140px;
}

h1 {
  padding-bottom: 10px;
  font-family:'Noto Sans', sans-serif;
}




@import "home";
@import "navbar";
@import "matches";
@import "footer";
@import "students";
@import "about"
