.matches-body {
  margin-left: 20px;
}

.match-day-list {
  width: 100%;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;

}

.match-panel {
  margin-right: 10px;
  width: 250px;
}

.match-panel-heading {
  background-color: #C09F80 !important;
  color: white !important;
}

.match-panel-body {
  font-size: 20px;

}
