// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family:'Noto Sans', sans-serif;
}

.day-list {
  width: 100%;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;

}

.panel {
  margin-right: 10px;
  width: 200px;
}

.panel-heading {
  background-color: #C09F80 !important;
  color: white !important;
}

.panel-body {
  font-size: 20px;

}

.btn {
  background-color: #76323F;
  color: white;
  font-size: 20px;
}
