.navbar-body {

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      background-color: #76323F;
      position: fixed;
      top: 0;
      width: 100%;
      height: 58px;
      overflow: visible;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      font-size: 20px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none !important;
  }

  li a:hover {
      background-color: #111;
  }

}
